{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>¿Quienes somos?</h1>
          <span class="subheading">Conocenos un poco más</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <section id="about">
          <h2>Sobre el Boletín Mensual Insight</h2>
          <p><strong>Bienvenido a Boletín Mensual Insight, tu fuente confiable para mantenerte al día con los temas más relevantes.</strong></p>
          <p>Nuestro boletín está diseñado para ofrecerte un resumen conciso y actualizado de los temas que importan. Con <strong>Noticias Nacionales, Deportes y Economía</strong>, te mantenemos informado sobre lo que está ocurriendo en el país y alrededor del mundo. Aquí te contamos más sobre cada sección:</p>
          <ul>
            <li><strong>Noticias Nacionales e internacionales:</strong> Mantente al tanto de los eventos más importantes que afectan al mundo. Desde noticias políticas hasta eventos sociales y culturales.</li>
            <li><strong>Deportes:</strong> Sigue las últimas novedades en el mundo del deporte. Te traemos actualizaciones sobre los partidos, resultados, y noticias de tus equipos y atletas favoritos.</li>
            <li><strong>Economía:</strong> Entiende el impacto de los cambios económicos en tu vida. Te ofrecemos análisis y resúmenes sobre el mercado, tendencias económicas y noticias financieras importantes.</li>
          </ul>
          <p><strong>Nuestro objetivo es proporcionarte información valiosa y relevante en un formato fácil de leer y acceder.</strong> Ya sea que estés buscando estar al día con las noticias nacionales, seguir los deportes o entender las últimas en economía, nuestro boletín está aquí para ti.</p>
          <p>¡Suscríbete hoy y no te pierdas ninguna actualización importante!</p>
        </section>        
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
